*{
    margin: 0px;
    padding: 0px;
    outline: none;
}

*::selection{
    background-color: rgba(255, 196, 0, 0.2);
    color: white;
}
a{
    text-decoration: none;
    color: rgb(192,192,192);
}
body{
    background-color: rgb(20, 20, 20);
    color: rgb(192, 192, 192);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: block;
    height: 40px;
    padding: 20px 0px;
    width: 100%;
    background-color: rgb(29, 29, 29);
    text-align: center;
}
header h1{
    cursor: pointer;
    transition: color 2s;
}
header h1:hover{
    color: rgb(238, 238, 238);
}
.case-container{
    display: block;
    max-width: 95%;
    width: 750px;
    padding: 20px 0px;
    background-color: rgb(39, 39, 39);
    margin: 20px auto;
    border: 1px solid rgb(49, 49, 49);
    text-align: center;
}
.case-spinner{
    display: inline-block;
    background-color: rgb(26, 26, 26);
    width: 80%;
    max-width: 90%;
    margin: 40px auto;
    height: 200px;
    padding: 0px 10px;
    overflow: hidden;
}
#pre-spin-text{
    display:block;
    margin: 70px 0px;
    font-size: 30px;
}

.button-n{
    background-color: rgb(0, 173, 0);
    color:white;
    padding: 10px 30px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
    transition: padding 0.5s;
    margin: 10px 0px;
}
.button-n:hover{
    background-color: rgb(0, 202, 0);
}
.button-n:active{
    background-color: rgb(0, 163, 0);
}

.spin_progress{
    display:block;
    margin: 60px auto;
}

.spin_per{
    display:block;
    width: 90%;
    height: 10px;
    background-color: rgb(97, 97, 97);
    border: 0px;
    color: rgb(255, 94, 0);
    margin: 10px auto;
    max-width: 95%;
}
.spin_pers{
    display:block;
    background: linear-gradient(to right, rgb(0, 68, 255), dodgerblue, rgb(44, 178, 255));
    height: 10px;
    width: 1%;
}
.case{
    position: relative;
    display: block;
    width: 140px;
    height: 200px;
    background: rgb(41, 41, 41);
    text-align: center;
    padding: 10px 0px;
}
.case .rw{
    display: block;
    width: 140px;
    height: auto;
    background: rgb(41, 41, 41);
    text-align: center;
}
.img_frame{
    display: inline-block;
    height:120px;
    width: 140px;
    overflow:none;
    position: relative;
}
#case_image{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.case section{
    width:100%;
    background-image: linear-gradient(to right, rgb(61, 61, 61) , rgb(92, 92, 92));
    font-size: 1vw;
    font-size: 1.5vh;
}
.focused {
    background-color: rgb(77, 77, 77);;
}

.case-showlist{
    display: block;
    width: 80%;
    max-width: 95%;
    background-color: rgb(39, 39, 39);
    margin: 20px auto;
    padding: 20px;
    border: 1px solid rgb(49, 49, 49);
    text-align: center;
}
.case-showlist h2{
  margin: 20px auto;
}
.case-showlist-section{
    display: inline-block;
    width: 90%;
    height: auto;
    padding-left: 5%;
    background-color: rgb(29, 29, 29);
    margin: 10px auto;
}
.case-showlist-section .case .img_frame{
    display: inline-block;
    height:135px;
    width: 140px;
    overflow:none;
    position: relative;
}
.case-showlist .case{
    float: left;
    border: 1px solid rgb(70, 70, 70);
    margin: 20px;
    height: 175px;
    padding: 0px;
    transition: scale 0.2s;
}
.rsw .case{
    position: relative;
    display: block;
    overflow: hidden;
    width: 140px;
    height: 180px;
    background: rgb(41, 41, 41);
    text-align: center;
    padding: 0px;
}
.case-showlist .case:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    cursor:pointer;
    box-shadow: 0px 5px 10px rgb(51, 51, 51);
    background-image: linear-gradient(-180deg, rgb(58, 58, 58) , rgb(87, 87, 87));;
}

#result_show .case .img_frame{
    display: inline-block;
    height:165px;
    width: 140px;
    overflow:none;
    position: relative;
}
.spin_progress label{
    animation-name: opx;
    animation: pulse 1s infinite;
}

#result_show .case{
    animation: slideUp 0.5s;
}

.wp_name{
    padding:10px 20px;
    background-image: linear-gradient(to right, rgb(61, 61, 61) , rgb(92, 92, 92));
    margin: 0px auto;
    margin-top: -10px;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5
  }
  100% {
      opacity: 1;
  }
}

@keyframes slideUp{
    0% {
        scale: 1.5;
    }
    100%{ 
        scale: 1;
    }
}